﻿<div data-ng-hide="authentication.isAuth" class="row">
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-4">
        <h2>Login / Sign Up</h2>
        <p class="text-primary">Login with your Username and Password, or using a linked external provider.</p>
        <p class="text-primary">Create a local account with Username and Password. Once signed in you will have the option to link external providers.</p>
        <p><a class="btn btn-info" data-ng-click="logIn()" role="button">Login &raquo; or Sign Up &raquo; </a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div data-ng-hide="!authentication.isAuth" class="row">
    <form role="form">
        <div class="form-group">
            <button data-ng-hide="hasGoogle" class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="linkExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Link account with Google+</button>
            <button data-ng-hide="hasFacebook" class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="linkExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Link account with Facebook</button>
        </div>
        <div class="form-group">
            <button data-ng-hide="!hasGoogle" class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="unLinkExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Un-Link account with Google+</button>
            <button data-ng-hide="!hasFacebook" class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="unLinkExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Un-Link account with Facebook</button>
        </div>
        <!--<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>-->
    </form>
</div>
