﻿<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <!--Thanks to Taiseer Joudeh for the orginal layout and structure of this angular demo-->
    <meta name="keywords" content="angularjs,SPA,Single Page Application, authentication,bearer token authentication,OWIN,bootstrap,bootstrap ui,tutorial,JS framework,ASP.NET WEB API 2, Thinktecture Identity Server, Brock Allen Membership Reboot" />
    <meta name="description" content="SPA built using angularjs,authentication built using a rewowrk of Taiseer Joudeh series of demo's from which I learned alot! This application demonstrates integration of oidc-token-manager.js, and usage of Thinktectures IdentityServer, using Brock Allens MembershipReboot, linking of local with External providers, and silent renewal of tokens'" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Authentication & Authorization</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>               
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="getTokenClaims()">Token Claims</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="getLinkedAccountClaims()">Linked Account Claims</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="getUserInfo()">User Info</a></li>                    
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="renewToken()">Renew Token</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="" data-ng-click="logIn()">Login or Sign Up</a></li>
                    <!--<li data-ng-hide="authentication.isAuth"> <a href="" data-ng-click="logIn()"></a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>Authentication & Authorization</h1>
            </div>
            <div class="text-center">
                Demonstrating linked local, and external providers.
            </div>
            <div>
                <pre id="results"></pre>
            </div>
        </div>
    </div>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">Created by Darren Schwarz.: <a target="_blank" href="https://uk.linkedin.com/pub/darren-schwarz/25/9b7/29">LinkedIn</a></p>
                </div>
                <div class="col-md-6">
                    <p class="text-muted">Darren Schwarz Blog: <a target="_blank" href="http://darrenschwarz.com/">darrenschwarz.com</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function show(msg, data) {
            clear();
            if (data) {
                document.getElementById("results").textContent += msg;
                if (typeof data !== 'object') {
                    document.getElementById("results").textContent += " : " + data + '\r\n';
                    return;
                }
                else {
                    document.getElementById("results").textContent += '\r\n';
                }
            }
            else {
                data = msg;
            }
            document.getElementById("results").textContent += JSON.stringify(data, null, 2);
            document.getElementById("results").textContent += '\r\n';
        }
        function clear() {
            document.getElementById("results").textContent = "";
        }
        function showError(error) {
            show(error && error.message || error);
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
       
    <script src="scripts/oidc-token-manager.js"></script>

    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/linkAuthProviderService.js?v=2"></script>
    <script src="app/services/idmTokenManagerService.js"></script>
    <script src="app/services/claimsService.js"></script>
    
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/callbackController.js"></script>    
    <script src="app/controllers/homeController.js?v=2"></script>    
    <script src="app/controllers/signupController.js?v=2"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->

</body>
</html>
