﻿@model Karama.IdentityServer.Mvc.Models.RegistrationModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();//"Please correct the following errors")
    @Html.AntiForgeryToken()

    <div class="form-group">
        @*@this.Model.SignIn = @ViewData["SignIn"];*@
    </div>
    <div class="form-group">
        <label for="First">First Name</label>
        @Html.TextBoxFor(x => x.First, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Last">Last Name</label>
        @Html.TextBoxFor(x => x.Last, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Username">Username</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">ConfirmPassword</label>
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Register</button>
    </div>
}