﻿@model Karama.IdentityServer.Mvc.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
}

<h2>Registration Success</h2>
@if(true.Equals(ViewData["RequireAccountVerification"])) { 
<p>
    You should recieve an email shortly
    @if(Model != null)
    {
        @: at @Model.Email
    }.
    It will contain instructions to verify your account
    so that you can login.
</p>
}
else
{
    <p>You can now login <a id="loginLink" href="/core/login?signin=@ViewData["SignIn"]">here</a></p>
}
<p>Thanks!</p>
    